<a href="https://colab.research.google.com/github/AkashTU3S2223005/Python/blob/main/09_02_23(Basics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic loop operations

In [1]:
print("hello world")

hello world

In [6]:
#write a program to display the table of 2
a=2
#i=1
for i in range( 1,11):
  print(a*i)

2
4
6
8
10
12
14
16
18
20

In [9]:
print("*" * 5)

*****

In [8]:
#write code to print pattern
i=1
while i<=5:
  print("*"* i)
  i+=1 #i=i+1

*
**
***
****
*****

In [4]:
for i in range(10): #it prints the value from 0 to n-1
  print(i)

0
1
2
3
4
5
6
7
8
9

opretions on strings

In [31]:
str="Akash"
#str1=input("enter string") #default  it takes string as an input
print(type(str1))
#print(str)
print(str.upper())
print("\n")
##print(str1=str1+2)

<class 'str'>
AKASH

Type casting

In [28]:
ch='A'
print(type(ch))

<class 'str'>

In [38]:
print("hello world")
print("hello ,'world'")

print("""Akash
Tukaram 
Dange""")#use""" string """ this to print multiple lines

hello world
hello ,'world'
Akash
Tukaram
Dange

In [40]:
str1=" TERNA COLLEGE "
for i in str1:
  print(i)

T
E
R
N
A

C
O
L
L
E
G
E

In [52]:
print(len(str1))
#returns true if it present in string or not then it returns false
print("Terna" in str1)#false case sensitive
print("TERNA" in str1)
print(str1.replace("T","t"))

13
False
True
tERNA COLLEGE
E
TERNA
TERNA COLLEGE

Slicing

In [63]:
print(str1[1])#print the value on that mentioned index
print(str1[0:5])#print data from n to n-1 index
print(str1[0:])#print the data till the end of the string
print(str1[:5])#print from the start of the string
print(str1[-5:-1])

E
TERNA
TERNA COLLEGE
TERNA
LLEG

modify string

In [67]:
temp=" Akash "
print(temp)
print(temp.strip())#removes the whitepcae from beginning and ending

 Akash
Akash

format string

In [70]:
str1=input("enter your name: ")
str2=int(input("enter your age: "))
temp="my name is {} and i am {} year old"
print(temp.format(str1,str2))

enter your name: Akash
enter your age: 19
my name is Akash and i am 19 year old

In [80]:
a=[1,2,3,4,5]
i=5
print(i**2)
b=[i**2 for i in a]

print(b)

25
[1, 4, 9, 16, 25]