<a href="https://colab.research.google.com/github/AkashTU3S2223005/Python/blob/main/11_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list data type in python
Lists are used to store multiple items in a single variable.
mutable,element inserted at end and elements are accessed using index
List is a collection which is ordered and changeable. Allows duplicate embers.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [13]:
list1=[1,2,3,4,5,"akash"]#represented using square brackets
print(type(list1))
print(list1)
print(list1[0])
list1[0]="Naruto"
print("list1 modified: "+list1[0])
print("length of the list1",len(list1))
list2=[list1]#storing list in list
print(list2)#[['Naruto',2,3,4,5,'akash']]
print(len(list2))#1

<class 'list'>
[1, 2, 3, 4, 5, 'akash']
1
list1 modified: Naruto
length of the list1 6
[['Naruto', 2, 3, 4, 5, 'akash']]
1

In [18]:
#creating list using list constructor
list_c=list(('Apple','Mango','Banana'))
print(list_c)
print(type(list_c))
print(list_c[2])
print(list_c[-1])#negative indexing is also used
print(list_c[1:2])#range of index is also used

['Apple', 'Mango', 'Banana']
<class 'list'>
Banana
Banana
['Mango']

In [22]:
if 'Mango' in list_c:
  print('yes it is presented')
else:
  print("not present")

yes it is presented

In [24]:
list1=[1,2,3,4,5]
for i in range(list1): #'list' object cannot be interpreted as an integer
  print(i)

TypeError: ignored

In [25]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["watermelon"]

print(thislist)

['apple', 'watermelon', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"Mango")
print(thislist)

['apple', 'banana', 'Mango', 'cherry']

In [30]:
#inserting elements
list1=[1,2,3,4,5,'akash']
list1.append('naruto')#it will insert element at end 
print(list1)
list1.insert(2,9)
print(list1)

[1, 2, 3, 4, 5, 'akash', 'naruto']
[1, 2, 9, 3, 4, 5, 'akash', 'naruto']

In [34]:
#extend method is used to insert multiple data type in list
list1.extend(thislist)
print(list1)
tu1=(1,2,3,4)
list1.extend(tu1)
print(list1)

[1, 2, 9, 3, 4, 5, 'akash', 'naruto', 'apple', 'banana', 'Mango', 'cherry', 'apple', 'banana', 'Mango', 'cherry', 1, 2, 3, 4, 'apple', 'banana', 'Mango', 'cherry']
[1, 2, 9, 3, 4, 5, 'akash', 'naruto', 'apple', 'banana', 'Mango', 'cherry', 'apple', 'banana', 'Mango', 'cherry', 1, 2, 3, 4, 'apple', 'banana', 'Mango', 'cherry', 1, 2, 3, 4]

In [35]:
#removing list elements
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")#removes specified element from the list
print(thislist)

['banana', 'cherry']

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)#pop the element from the specified index by default removes last element
print(thislist)

['apple', 'banana']

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()#pop the element from the specified index by default removes last element
print(thislist)

['apple', 'banana']

In [38]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [40]:
thislist = ["apple", "banana", "cherry"]
del thislist#delete the list completely
print(thislist)

NameError: ignored

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() #flush out the all element from the list
print(thislist)

[]

In [43]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [45]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
for x in range(len(thislist)):
  print(x)

3
0
1
2

In [46]:
thislist = ["apple", "banana", "cherry"]
for x in range(len(thislist)):
  print(thislist[x])

apple
banana
cherry

In [49]:
i=0
while  i < len(thislist):
  print(thislist[i])
  i=i+1

apple
banana
cherry

In [50]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [56]:
newlist=[]
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  if x!='apple':
    newlist.append(x)
print(newlist)

['banana', 'cherry']

In [61]:
print([x for x in thislist if x!='apple'])

['banana', 'cherry']

In [70]:
#newlist=[x for x in range(1,10)]
newlist=[1,4,5,0,2,1,2,3]
print(newlist)
newlist.sort()
print(newlist)
newlist.sort(reverse=True)
print(newlist)

[1, 4, 5, 0, 2, 1, 2, 3]
[0, 1, 1, 2, 2, 3, 4, 5]
[5, 4, 3, 2, 2, 1, 1, 0]

In [72]:
newlist=[1,4,5,0,2,1,2,3]
list1=newlist.copy()
print(list1)
list2=list(newlist)
print(list2)

[1, 4, 5, 0, 2, 1, 2, 3]
[1, 4, 5, 0, 2, 1, 2, 3]